#header_nav {
	border-radius: 0;
	border: 0;
	background-color:  yellow; /*nur so, zum Test*/
}
h1 {
}

/* media-queries */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
 }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
 }
@media (min-width: @screen-lg-min) { 
 }